<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dzp.clevergarlic.mapper.admin.BudgetPlanMapper">


    <insert id="insertToPlan">
        insert into fc_plan (plan_id,plan_name,status,admin_id,plan_start_time,plan_end_time,plan_code,plan_version)
        values (#{planId},#{planName},#{status},#{adminId},#{planStartTime},#{planEndTime},#{planCode},#{planVersion})
    </insert>

    <insert id="insertToBuilding">
        insert into fc_plan_building (plan_building_id,plan_id,building_id)
        values (#{planBuildingId},#{planId},#{buildingId})
    </insert>

    <insert id="insertToReadyCommit" parameterType="java.util.ArrayList">
        insert into fc_ready_commit (ready_commit_id,param_type,plan_id,status,plan_building_id)
        values 
            <foreach collection="list" item="item" index="index" separator=",">
                (
                #{item.readyCommitId},
                #{item.paramType},
                #{item.planId},
                #{item.status},
                #{item.planBuildingId}
                )
            </foreach>
    </insert>

    <insert id="insertVersion">
        insert into fc_calculate_version_notes
        (cv_id,plan_version,lease_version,business_version)
        values
        (#{columnId},#{planVersion},#{leaseVersion},#{businessVersion})
    </insert>

    <update id="updatePlan">
        update fc_plan
        set plan_name = #{planName},status = #{status},admin_id = #{adminId},
            plan_start_time = #{planStartTime},plan_end_time = #{planEndTime}
        where plan_id = #{planId}
    </update>

    <delete id="deleteBuildingByPlanId">
        delete from fc_plan_building where plan_id = #{planId}
    </delete>

    <update id="deletePlan">
        update fc_plan set deleted = 1 where plan_id = #{planId}
    </update>

    <update id="updateStatusById">
        update fc_plan set status = #{status}, update_time = LOCALTIMESTAMP where plan_id = #{planId} and deleted = 0
    </update>

    <update id="reviewPlan">
        update fc_plan set status = #{status}, review_admin_id = #{adminId}, review_time = LOCALTIMESTAMP where plan_id = #{planId} and deleted = 0
    </update>

    <select id="getPlanList" resultType="com.dzp.clevergarlic.dto.admin.budgetPlanDTO.response.PlanListResponse">
        select t9.plan_id,t9.plan_name,t9.status,t9.admin_id,t9.create_time,t9.plan_start_time,t9.plan_end_time
        from fc_plan as t9
        left join fc_plan_building as t10 on t9.plan_id = t10.plan_id
        where t9.deleted = 0
            <if test="planName != null and planName != ''">and t9.plan_name like CONCAT(CONCAT('%', #{planName}), '%')</if>
            <if test="planCode != null and planCode != ''">and t9.plan_code like CONCAT(CONCAT('%', #{planCode}), '%')</if>
            <if test="status != null">and t9.status = #{status}</if>
            <if test="adminId != null">and t9.admin_id = #{adminId}</if>
            <if test="startDate!=null and endDate!=null">and TO_CHAR(t9.create_time, 'yyyy-MM-dd') between #{startDate} and #{endDate}</if>
        order by t9.create_time desc
    </select>

    <resultMap id="getInfo" type="com.dzp.clevergarlic.dto.admin.budgetPlanDTO.response.PlanInfoResponse">
        <result column="plan_id" property="planId"></result>
        <result column="plan_name" property="planName"></result>
        <result column="plan_code" property="planCode"></result>
        <result column="plan_start_time" property="planStartTime"></result>
        <result column="plan_end_time" property="planEndTime"></result>
        <result column="admin_id" property="adminId"></result>
        <result column="create_time" property="createTime"></result>
        <result column="review_admin_id" property="reviewAdminId"></result>
        <result column="review_time" property="reviewTime"></result>
        <result column="status" property="status"></result>

        <collection property="planBuildingList" ofType="com.dzp.clevergarlic.dto.admin.budgetPlanDTO.response.PlanBuildingResponse">
            <result column="plan_building_id" property="planBuildingId"></result>
            <result column="plan_id" property="planId"></result>
            <result column="building_id" property="buildingId"></result>
            <result column="building_name" property="buildingName"></result>
        </collection>
    </resultMap>
    
    <sql id="base_info">
        t9.plan_id,t9.plan_name,t9.plan_code,t9.admin_id,t9.create_time,t9.review_admin_id,t9,review_time,t9.status,
        t10.plan_building_id,t10.plan_id,t10.building_id,t10.building_name
    </sql>

    <select id="getPlanInfo" resultMap="getInfo">
        select
        <include refid="base_info"/>
        from fc_plan as t9
        left join fc_plan_building as t10 on t9.plan_id = t10.plan_id
        where t9.plan_id = #{planId} and deleted = 0
    </select>

    <select id="readyCommitList"
            resultType="com.dzp.clevergarlic.dto.admin.budgetPlanDTO.response.ReadyCommitResponse">
        select
            t11.ready_commit_id,t11.param_type,t11.status,t11.create_time,
            t10.building_id,t10.building_name,
            t9.plan_name,t9.plan_code,t9.plan_start_time,t9.plan_end_time
        from fc_plan as t9
        join fc_plan_building as t10 on t9.plan_id = t10.plan_id
        join fc_ready_commit as t11 on t10.plan_building_id = t11.plan_building_id
        where t9.deleted = 0
            <if test="planName != null and planName != ''">and t9.plan_name like CONCAT(CONCAT('%', #{planName}), '%')</if>
            <if test="planCode != null and planCode != ''">and t9.plan_code like CONCAT(CONCAT('%', #{planCode}), '%')</if>
            <if test="startDate!=null and endDate!=null">and TO_CHAR(t9.create_time, 'yyyy-MM-dd') between #{startDate} and #{endDate}</if>
            <if test="status != null">and t11.status = #{status}</if>
            <if test="paramType != null">and t11.param_type = #{paramType}</if>
            <if test="buildingName != null">and t10.building_name = #{buildingName}</if>
        order by t9.create_time desc
    </select>

    <resultMap id="getCalculate" type="com.dzp.clevergarlic.dto.admin.calculateDTO.BeforeCalculate">
        <result column="plan_id" property="planId"></result>
        <result column="plan_start_time" property="planStartTime"></result>
        <result column="plan_end_time" property="planEndTime"></result>

        <collection property="buildingParamData" ofType="com.dzp.clevergarlic.dto.admin.calculateDTO.BuildingInfo">
            <result column="building_id" property="buildingId"></result>
            <result column="building_name" property="buildingName"></result>
        </collection>
    </resultMap>

    <select id="getBeforeCalculate" resultMap="getCalculate">
        select t9.plan_id,t9.plan_start_time,t9.plan_end_time,t10.building_id,t10.building_name
        from fc_plan t9
        left join fc_plan_building t10 on t9.plan_id = t10.plan_id
        where t9.plan_id = #{planId} and t9.deleted = 0
    </select>

    <select id="getVersionInfo" resultType="com.dzp.clevergarlic.dto.admin.calculateDTO.VersionInfo">
        select t9.plan_version,t7.version as lease_version,t8.version as business_version
        from fc_plan t9
        join fc_lease_fee_param t7 on t7.plan_id = t9.plan_id and t7.deleted = 0
        join fc_business_param t8 on t8.plan_id = t9.plan_id and t8.deleted = 0
        where t9.plan_id = #{planId} and t9.deleted = 0
        limit 1
    </select>

</mapper>