<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>

<body>
<div>
    <div style="background-color: #398439" class="svg1">
        <div style="background-color: red" class="svg3"></div>
        <div style="background-color: lightgoldenrodyellow" class="svg2"></div>
    </div>
</div>
<style>
    .svg1 {
        height: 600px;
        width: 1000px;
        margin: 20% auto;
        position: relative;
    }

    .svg3 {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 800px;
        height: 400px;
    }

    .svg2 {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 600px;
        height: 200px;
    }
</style>
</body>
</html>